{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">Positions</h4>
    <a href="{% url 'tasks:position-create' %}" class="btn btn-primary btn-sm mb-0">
      Create
    </a>
  </div>
  <form action="" method="get" class="d-flex mb-4">
    <div class="input-group w-50">
      {{ search_form.name }}
      <button class="btn btn-outline-primary mb-0" type="submit">Search</button>
    </div>
  </form>
  {% if position_list %}
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      {% for position in position_list %}
        <tr>
          <td>
            {{ position.id }}
          </td>
          <td>
            {{ position.name }}
          </td>
          <td>
          <a href="{% url 'tasks:position-update' pk=position.id %}"
             class="btn btn-sm btn-outline-secondary mb-0">Update</a>
          </td>
          <td>
            <a href="{% url 'tasks:position-delete' pk=position.id %}"
               class="btn btn-sm btn-outline-danger mb-0">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no positions in the service.</p>
  {% endif %}
{% endblock %}
