{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">Tasks</h4>
    <a href="{% url 'tasks:task-create' %}" class="btn btn-primary btn-sm mb-0">
      Create
    </a>
  </div>
  <form action="" method="get" class="d-flex mb-4">
    <div class="input-group w-50">
      {{ search_form.name }}
      <button class="btn btn-outline-primary mb-0" type="submit">Search</button>
    </div>
  </form>
  {% if task_list %}
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Deadline</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Progress</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Priority</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Task Type</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Num workers</th>
        </tr>
      </thead>
      {% for task in task_list %}
        <tr>
          <td>
            {{ task.id }}
          </td>
          <td>
            <a href="{% url 'tasks:task-detail' task.id %}">{{ task.name }}</a>
          </td>
          <td>
            {{ task.deadline }}
          </td>
          <td>
            {% if task.is_completed %}
              <span class="badge bg-gradient-success">Done</span>
            {% else %}
              <span class="badge bg-gradient-secondary">In progress</span>
            {% endif %}
          </td>
          <td>
              {% if task.priority == "urgent" %}
                <span class="badge bg-gradient-danger">{{ task.get_priority_display }}</span>
              {% elif task.priority == "high" %}
                <span class="badge bg-gradient-info">{{ task.get_priority_display }}</span>
              {% elif task.priority == "low" %}
                <span class="badge bg-gradient-secondary">{{ task.get_priority_display }}</span>
              {% endif %}
          </td>
          <td>
            {{ task.task_type }}
          </td>
          <td>
            {{ task.assignees.count }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no tasks in the service.</p>
  {% endif %}
{% endblock %}
