{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h4 class="mb-4">{{ object|yesno:"Update,Create" }} worker</h4>

  <div class="col-md-6">
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}

      <div class="d-flex gap-2 mt-3">
        <button type="submit" class="btn btn-primary mb-0">
          Submit
        </button>
        <a href="{% url 'tasks:worker-list' %}" class="btn btn-secondary mb-0">
          Cancel
        </a>
      </div>
    </form>
  </div>
{% endblock %}